.mypy_cache/
.vscode/
__pycache__/
.pytest_cache/
.venv/
venv/
.ipynb_checkpoints/
data/raw/*
data/pred/*
out/*
slurm-*
dmii.*
igc*
electra*/
*.egg-info
dist/
debug/
.python-version
old_experiments/
roberta/
wandb/